
<!--SECCION EJERCICIO 1-->
<label for="edadUno">Edad 1:</label>
<input type="text" [(ngModel)]='edadUno' name="" id="edadUno">
<br>
<label for="edadDos">Edad 2:</label>
<input type="text" [(ngModel)]='edadDos' name="" id="edadDos">
<br>
<br>
<button (click)=Calcular() >Calcular Edad</button><button (click)=Limpiar() >Limpiar Inputs</button>
<br>
<br>

<h5>Prom:</h5><input type="text" [(ngModel)]="promEdad" name="" id="edadUnoMostrar">
<h5>Suma:</h5><input type="text" [(ngModel)]="sumaEdad" name="" id="edadDosMostrar">


<!--SECCION EJERCICIO 2-->
<app-bienvenido></app-bienvenido>
<app-login></app-login>
<app-error></app-error>
