<!--<h1>asdasd</h1>

{{title}}

<input type="text" [(ngModel)]="title" name="" id="edadUno">
<input type="text" [(ngModel)]="title" name="" id="edadDos">

<button (click)=CambiarTitulo() >Cambiar el Titulo</button>-->

<label for="edadUno">Edad 1:</label>
<input type="text" [(ngModel)]='edadUno' name="" id="edadUno">
<br>
<label for="edadDos">Edad 2:</label>
<input type="text" [(ngModel)]='edadDos' name="" id="edadDos">
<br>
<br>
<button (click)=Calcular() >Calcular Edad</button><button (click)=Limpiar() >Limpiar Inputs</button>
<br>
<br>

<h5>Prom:</h5><input type="text" [(ngModel)]="promEdad" name="" id="edadUnoMostrar">
<h5>Suma:</h5><input type="text" [(ngModel)]="sumaEdad" name="" id="edadDosMostrar">


<!--
    botones "calcular" y "limpiar cuadros de textos"
2-( componentes nuevos) Realizar:
la clase usuario con nombre y clave ,
el componente "Bienvenido"
el componente "login"
el componente "error"
( dejar los componentes listos)
opcional: hacer ruteo
-->