<!--<h1>asdasd</h1>

{{title}}

<input type="text" [(ngModel)]="title" name="" id="edadUno">
<input type="text" [(ngModel)]="title" name="" id="edadDos">

<button (click)=CambiarTitulo() >Cambiar el Titulo</button>-->


<input type="text" [(ngModel)]='edadUno' name="" id="edadUno">
<input type="text" [(ngModel)]='edadDos' name="" id="edadDos">
<br>
<button (click)=Calcular() >Calcular Edad</button>
<br>

<input type="text" [(ngModel)]="promEdad" name="" id="edadUnoMostrar">
<input type="text" [(ngModel)]="sumaEdad" name="" id="edadDosMostrar">